/*Mobile Screen with one component showing*/
@media screen and (max-width: 1034px) {
  .scale {
    width: 336px;
  }
}

/* 3 components show*/
@media screen and (min-width: 1034px) {
  .scale {
    width: 1008px;
  }
}

/* 5 components show*/
@media screen and (min-width: 1706px) {
  .scale {
    width: 1680px;
  }
}

.cardContainer {
  justify-content: center;
}
